* {
  background-color: #f5f5dc;
  text-align: center;
}
h1 {
  color: #1a1a07;
  font-family: "Merriweather", sans-serif;
  font-weight: bold;
}
h2 {
  color: #34340f;
  font-family: "Merriweather", sans-serif;
  font-weight: lighter;
  font-style: italic;
}
